#canvas {
  height: 100%;
  width: 100%;
  position: relative;
}

.bgimg {
  position: absolute;
  height: 10vh;
  width: 8vw;
}

.av {
  position: absolute;
}

.av img {
  height: 100px;
  width: 100px;
}
