.connectcon {
  height: 100%;
  width: 100%;
  position: relative;
  padding: 20px;
  display: grid;
  align-items: center;
}

.connectcon p {
  font-size: 3rem;
  text-align: center;
}

.myvideo {
  position: absolute;
  right: 30px;
  bottom: 30px;
  height: 270px;
  width: 400px;
  border-radius: 10px;
}
